@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

:root {
  --success-color: #2ecc71;
  --error-color: #e74c3c;
}

img {
  width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}

body {
  background-color: black;
  background-image: url("../../contact-client/img/pizza2.png");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: verdana;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 40px;
}

.container {
  background-color: black;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  width: 550px;
}
h1 {
  text-align: center;
  margin: 0 0 20px;
  color: white;
}

h2 {
  text-align: center;
  margin: 0 0 20px;
  color: white;
}

.form {
  padding: 30px 40px;
}

.form-control {
  margin-bottom: 10px;
  padding-bottom: 10px;
  position: relative;
}

.form-control label {
  color: white;
  display: block;
  margin-bottom: 5px;
}

.form-control input {
  border: 2px solid white;
  border-radius: 4px;
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 14px;
}

.form-control input:focus {
  outline: 0;
  border-color: #777;
}

.form-control.success input {
  border-color: var(--success-color);
}

.form-control.error input {
  border-color: var(--error-color);
}

.form-control small {
  color: var(--error-color);
  position: absolute;
  /* bottom: 0;*/
  left: 0;
  visibility: hidden;
  font-size: .75rem;
}

.form-control.error small {
  visibility: visible;
}

.form button {
  cursor: pointer;
  background-color: #B11816;
  border: 2px solid #B11816;
  border-radius: 4px;
  color: #fff;
  display: block;
  font-size: 16px;
  padding: 10px;
  margin-top: 20px;
  width: 100%;
}

header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding: 15px;
  background-color: black;
  color: white;
}

header p {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding: 15px;
  padding-left: 50px;
  background-color: black;
  color:#aaa;
}

header ul {
  display: flex;
  flex-direction: row;
  justify-content : flex-end;
  padding:0;
  padding-right: 40px;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
  color:#aaa;
}

header li {
  padding:0 20px;
}

header ul a {
  color:#aaa;
  text-decoration:none;
  opacity:0.8;
}



footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: black;
  color: white;
}

.footer-basic ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
  color:#aaa;
}

.footer-basic li {
  padding:0 10px;
}

.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-basic ul a:hover {
  opacity:1;
}

.footer-basic .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#aaa;
  margin-bottom:15px;
}
